body{
    font-family: "Roboto", sans-serif;
}
.container{
    display: flex;
    flex-direction: column;
     max-width: 1200px;
    margin: 0 auto;

}
.first{
    background-color:#1F2937;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-bottom: 80px;
    

}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 80px;
    padding-left: 80px;
}
#logo{
    color: #F9FAF8;
    font-size: 24px;
}
.hero-header{
    flex: auto;
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}
.hero-discription{
    flex: auto;
    font-size: 18px;
    color: #E5E7EB;
}
.right button , .sign-up{
    background-color:#3882F6 ;
    border-style: none;
    border-radius: 6%;
    color: #F9FAF8;
    padding: 12px 28px;
    font-weight: 700;
    cursor: pointer;
}
.hero{
    display: flex;
    
     padding-right: 80px;
    padding-left: 80px;
    gap: 15px;
}
#header-links{
    display: flex;
    gap: 30px;
    
}
#header-links a{
    text-decoration: none;
    color: #E5E7EB ;
}
.right , .left{
    flex:1;
}
img{
    max-height: 300px;
    width: 100%;
    border-radius: 8px;
}
.right div{
    margin-bottom: 8px;
    
}
#second-title{
    margin: 20px;
    text-align: center;
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}
.cards{
    padding-left: 120px;
    padding-right: 120px;
    display: flex;
    gap: 20px;
    padding-bottom: 80px;

}
.card{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.box{
    border:4px solid #3882F6 ;
    height: 100px;
    width: 100px;
    border-radius: 10px;
}
.caption{
    margin-top: 10px;
    color: gray;
    text-align: center;
}
.third{
    padding: 60px;
    text-align: center;
    background-color: #E5E7EB;
    font-size: 30px;
    color: #1F2937;
    font-weight: 300;
    font-style: italic;

}
.third footer{
    text-align: right;
    font-weight: 700;
    font-style: normal;
    font-size: 25px;
}